{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Simple House</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet"/>
    <link href="{% static 'css/templatemo-style.css' %} " rel="stylesheet"/>
</head>

<!-- Simple House -->

<body>
<div class="container">
    <!-- Top box -->
    <!-- Logo & Site Name -->
    <div class="placeholder">
        <div class="parallax-window" data-parallax="scroll" data-image-src="{% static 'img/simple-house-01.jpg' %}">
            <div class="tm-header">
                <div class="row tm-header-inner">
                    <div class="col-md-6 col-12">
                        <img src="{% static 'img/simple-house-logo.png' %}" alt="Logo" class="tm-site-logo"/>
                        <div class="tm-site-text-box">
                            <h1 class="tm-site-title">Simple House</h1>
                            <h6 class="tm-site-description">Food for a good mood</h6>
                        </div>
                    </div>
                    <nav class="col-md-6 col-12 tm-nav">
                        <ul class="tm-nav-ul">
                            <li class="tm-nav-li"><a href="{% url 'home_app:index' %}" class="tm-nav-link {% if nav_link  == 'home' %}active {% endif %}">Home</a></li>
                            <li class="tm-nav-li"><a href="about.html" class="tm-nav-link">About</a></li>
                            <li class="tm-nav-li"><a href="{% url 'contacts_app:contact' %}" class="tm-nav-link {% if nav_link == 'contact' %} active {% endif %}">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    {% block content %}

    {% endblock %}

    <footer class="tm-footer text-center">
        <p>Copyright &copy; 2023 Simple House | Dev: <a rel="nofollow" href="#">Xumpocmb</a></p>
    </footer>
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/parallax.min.js' %}"></script>
</body>
</html>