{% extends 'home_app/base.html' %}
{% load static %}

{% block content %}
    <main>
        <header class="row tm-welcome-section">
            <h2 class="col-12 text-center tm-section-title">Welcome to Simple House</h2>
            <p class="col-12 text-center">Принимая во внимание показатели успешности, постоянный количественный рост и
                сфера нашей активности играет важную роль в формировании вывода текущих активов. Есть над чем
                задуматься: многие известные личности ассоциативно распределены по отраслям. Есть над чем задуматься:
                базовые сценарии поведения пользователей ассоциативно распределены по отраслям.</p>
        </header>
        <!-- Categories -->
        <div class="tm-paging-links">
            <nav>
                <ul>
                    <li class="tm-paging-item"><a href="{% url 'home_app:index' %}" class="tm-paging-link">All menu</a></li>
                    {% for category in categories %}
                        <li class="tm-paging-item"><a href="{% url 'home_app:category' category.id %}" class="tm-paging-link">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </div>

        <!-- Gallery -->
        <div class="row tm-gallery">
            <div class="tm-gallery-page">
                {% for product in products %}
                    <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                        <figure>
                            <img src="{{ product.image.url }}" alt="Image" class="img-fluid tm-gallery-img"/>
                            <figcaption>
                                <h4 class="tm-gallery-title">{{ product.name }}</h4>
                                <p class="tm-gallery-description">{{ product.description }}</p>
                                <p class="tm-gallery-price">$ {{ product.price }}</p>
                            </figcaption>
                        </figure>
                    </article>
                {% endfor %}
            </div>
        </div>
        <div class="tm-section tm-container-inner">
            <div class="row">
                <div class="col-md-6">
                    <figure class="tm-description-figure">
                        <img src="{% static 'img/img-01.jpg' %}" alt="Image" class="img-fluid"/>
                    </figure>
                </div>
                <div class="col-md-6">
                    <div class="tm-description-box">
                        <h4 class="tm-gallery-title">И по сей день в центральных регионах звучит перекатами гитарный
                            перебор</h4>
                        <p class="tm-mb-45">Также как разбавленное изрядной долей эмпатии, рациональное мышление создаёт
                            предпосылки для экспериментов, поражающих по своей масштабности и грандиозности.
                            <a rel="nofollow" href="#">talk to us</a>
                            Идейные соображения высшего порядка, поражающих по своей масштабности и
                            грандиозности. Thank you.</p>
                        <a href="about.html" class="tm-btn tm-btn-default tm-right">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}